.container {
    margin: 20px;
    padding: 30px;

    border: 1px solid black;
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.btn{
    position: absolute;
    top:30px;
    right: 30px;
}
@media (max-width: 560px) {
    .container {
        padding-top: 40px;
    }
}