.description {
    display: flex;
    flex-direction: column;
}
@media (max-width: 560px) {
    .card {
        width: 210px;
        flex-wrap: wrap;
    }
}
.subTitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #000000d9;
    font-weight: 500;
}
.green{
    color: green;
}
.red{
    color: red;
}